@media (max-width: 1000px) {
  header {
    /*position: static;*/
    position: fixed !important;
    top: 0;
    background-color: #fff;
    /*z-index: 10;*/
  }
  
  .header-nav-humburger {
    display: block;
    width: 30px;
    height: 21px;
    /*z-index: 100;*/
    cursor: pointer;
    position: relative;
  }
  
  .header-nav-humburger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 10px;
    transition: top .2s,transform .2s,opacity .3s;
  }
  
  .header-nav-humburger-line:first-child {
    top: 0px;
  }
  
  .header-nav-humburger-line:last-child {
    top: 100%;
  }
  
  .header-nav-list {
    display: none !important;
  }
  
  .AC_content {
    flex-direction: column;
  }
  
  .AC_content-video {
    width: 75%;
  }
  
  .AC_content-title {
    width: 75%;
  }
  
  .AC_content-title a {
    display: block;
    /*width: 100%;*/
    text-align: center;
  }
}

@media (max-width: 670px) {
  /*main {*/
  /*  padding-top: 52px;*/
  /*}*/
  
header {
  padding: 15px 0;
}
  
  .header-container {
    max-width: 100%;
    margin: 0 20px;
  }
  
  .FirstView {
    background-image: none;
    padding: 0;
  }
  
  .FV_image-sp {
    display: block;
    width: 100%;
    margin-top: 51px;
  }
  
  .FV_container {
    max-width: none;
    padding: 0 20px;
  }
  
  .FV_content {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .FV_content-tiitle {
    font-size: 25px;
    
  }
  
  .FV_contenr-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  /*.FirstViewContent__images img {*/
  /*  width: 27.5%;*/
  /*}*/
  
  .FV_content-btn {
    width: 100% !important;
  }
  
  .AboutContainer {
    padding: 30px 0;
  }
  
  .AC_content {
    max-width: none;
    padding: 0 20px;
  }
  
  .AC_content-video {
    width: 100%;
  }
  
  .AC_content-title {
    width: 100%;
  }

}